Repository pokemon-tabletop-reunited/ptr2e, pull requests merged in 2025-04, with the labels that each got.

#1449 updating Pester Ball image
  static/img/item-icons/pester ball burn.webp
  static/img/item-icons/pester ball confusion.webp
  static/img/item-icons/pester ball paralysis.webp
  static/img/item-icons/pester ball poison.webp
  static/img/item-icons/pester ball rage.webp
  static/img/item-icons/pester ball sleep.webp
  static/img/item-icons/pester ball.webp
  static/img/item-icons/pester balls.webp
Labels: simple

#1419 Foundry Data Sync - Digidex - DemiDevimon + Demi Dart
  packs/core-moves/demi-dart.json
  packs/core-species/demi-devimon.json
Labels: fan-dex

#1420 Foundry Data Sync - 1/3rd In Training Digimon
  packs/core-species/bukamon.json
  packs/core-species/koromon.json
  packs/core-species/motimon.json
  packs/core-species/nyaromon.json
Labels: fan-dex

#1422 Foundry Data Sync - More Digimon Stuff
  packs/core-abilities/innocent-eyes.json
  packs/core-gear/basic-digivice.json
  packs/core-species/pagumon.json
Labels: fan-dex

#1574 Fling Description and Actor Toss math updates.
  packs/core-moves/fling.json
  src/module/actor/base.ts
  src/module/system/statistics/attack.ts
Labels: actors

#1456 Foundry Data Sync - More In Trainings for digidex
  packs/core-species/tanemon.json
  packs/core-species/tsumemon.json
  packs/core-species/tsunomon.json
Labels: fan-dex

#1458 Foundry Data Sync - In Trainings
  packs/core-species/tokomon.json
  packs/core-species/wanyamon.json
  packs/core-species/yokomon.json
Labels: fan-dex

#1533 Foundry Data Sync - Arcadiamon (In-Training)
  packs/core-abilities/utopia.json
  packs/core-moves/data-drain.json
  packs/core-moves/soul-absorption.json
  packs/core-species/arcadiamon-in-training.json
  packs/core-species/arcadiamon-rookie.json
Labels: compendium, fan-dex

#1586 Foundry Data Sync - Fox - Core Fixes + Digimon
  packs/core-abilities/cursed-body.json
  packs/core-moves/marching-fishes.json
  packs/core-moves/work-up.json
  packs/core-perks/hitmon-class-sandwiches.json
  packs/core-perks/koffing-class-curry.json
  packs/core-perks/lechonk-class-sandwiches.json
  packs/core-perks/ralts-class-sandwiches.json
  packs/core-perks/root-4.json
  packs/core-perks/trubbish-class-sandwiches.json
  packs/core-perks/zigzagoon-class-sandwiches.json
  packs/core-species/gomamon.json
  packs/core-species/koromon.json
  packs/core-species/wanyamon.json
  packs/core-species/yokomon.json
Labels: manual-merge
